* {
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
}

body,
div,
section,
main,
article,
header,
footer,
form,
a,
label {
  display: flex;
  flex-direction: column;
}

#error {
  justify-content: center;
  align-items: center;
  color: var(--black_l);
  width: 288px;
  height: 50px;
  margin-bottom: 8px;
  background-color: #fc8383;
}

#success {
  justify-content: center;
  align-items: center;
  color: var(--black_l);
  width: 288px;
  height: 50px;
  margin-bottom: 8px;
  background-color: #6cd16c;
}

#header {
  position: fixed;
  z-index: 6;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: var(--black_l);
  justify-content: space-between;
  align-items: center;
}
#header div {
  width: 33%;
}
#header .logo {
  position: relative;
  z-index: 6;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 115px;
  top: 35px;
  border-radius: 50%;
  background-color: var(--white);
}
#header .logo img {
  margin-top: 16px;
}
#header #menu_icon {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
  height: 24px;
  cursor: pointer;
}
#header #menu_icon img {
  margin-right: 16px;
}
#header #menu_icon #btn_open {
  display: flex;
}
#header #menu_icon #btn_close {
  display: none;
}

#login {
  position: relative;
  display: flex;
  background-color: var(--bg);
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#login > header {
  display: none;
  position: absolute;
  background-image: url("/assets/images/background/paes-caseiros-em-sao-paulo.jpg");
  background-repeat: no-repeat;
  background-color: var(--white);
  box-shadow: 5px 10px 18px #6e6c6c;
  width: 100%;
  height: 53%;
  top: 0;
}
#login .logo {
  position: relative;
  background-color: var(--bg);
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 5px;
  width: 290px;
  border-radius: 14px;
  height: 30%;
}
#login .links {
  position: relative;
  top: 20px;
  width: 288px;
  flex-direction: row;
  justify-content: space-around;
}
#login .links a {
  text-decoration: none;
  color: var(--brown-3);
}
#login .links a:hover {
  color: var(--brown-1);
}

@media (min-width: 768px) {
  #login header {
    display: flex;
  }
}
#auth {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#auth header {
  position: absolute;
  top: 0;
  background-color: var(--brown);
  background-image: url("/assets/images/background/paes-caseiros-em-sao-paulo.jpg");
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 35%;
  padding-bottom: 25px;
  padding: 10px;
  box-shadow: 5px 10px 18px #6e6c6c;
}
#auth form {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 50%;
  top: 60px;
  padding-bottom: 10px;
}
#auth form label {
  position: relative;
  border: 1px solid var(--gray);
  justify-content: center;
  margin-bottom: 8px;
}
#auth form label input {
  width: 288px;
  height: 50px;
  border: none;
  padding-left: 40px;
}
#auth form label img {
  position: absolute;
  top: 13px;
  left: 8px;
}
#auth .links {
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  width: 90%;
  top: 45px;
}
#auth .links a {
  text-decoration: none;
  color: var(--brown-3);
}
#auth .links a:hover {
  color: var(--brown-1);
}

@media (min-width: 768px) {
  #auth header {
    height: 40%;
  }
  #auth form {
    width: 50%;
    background-color: var(--gray);
    box-shadow: 0 0 1em var(--gray);
  }
  #auth form label input {
    width: 288px;
  }
  #auth .links {
    width: 50%;
    top: 65px;
  }
}
@media (min-width: 1024px) {
  #auth form {
    width: 30%;
  }
  #auth .links {
    width: 35%;
  }
}
@media (min-width: 1440px) {
  #auth form {
    width: 25%;
  }
  #auth .links {
    width: 30%;
  }
}
@media (min-width: 1920px) {
  #auth header {
    padding-bottom: 30px;
  }
  #auth form {
    width: 20%;
  }
  #auth .links {
    width: 20%;
  }
}
#new_account {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#new_account header {
  position: absolute;
  top: 0;
  background-color: var(--brown);
  background-image: url("/assets/images/background/paes-caseiros-em-sao-paulo.jpg");
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 35%;
  padding-bottom: 25px;
}
#new_account form {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 70%;
  top: 60px;
  padding-bottom: 10px;
}
#new_account form label {
  position: relative;
  border: 1px solid var(--gray);
  justify-content: center;
  margin-bottom: 8px;
}
#new_account form label input {
  width: 288px;
  height: 50px;
  border: none;
  padding-left: 40px;
}
#new_account form label img {
  position: absolute;
  top: 13px;
  left: 8px;
}
#new_account form .avatar {
  align-items: center;
  cursor: pointer;
}
#new_account .links {
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  width: 90%;
  top: 45px;
}
#new_account .links a {
  text-decoration: none;
  color: var(--brown-3);
}
#new_account .links a:hover {
  color: var(--brown-1);
}

@media (min-width: 768px) {
  #new_account header {
    height: 40%;
  }
  #new_account form {
    width: 50%;
    height: 60%;
    background-color: var(--gray);
    box-shadow: 0 0 1em var(--gray);
  }
  #new_account form label input {
    width: 288px;
  }
  #new_account .links {
    width: 50%;
    top: 65px;
  }
}
@media (min-width: 1024px) {
  #new_account form {
    width: 40%;
  }
  #new_account .links {
    width: 35%;
  }
}
@media (min-width: 1366px) {
  #new_account form {
    width: 25%;
  }
  #new_account .links {
    width: 30%;
  }
}
@media (min-width: 1440px) {
  #new_account .links {
    width: 30%;
  }
}
@media (min-width: 1920px) {
  #new_account header {
    padding-bottom: 30px;
  }
  #new_account form {
    width: 20%;
  }
  #new_account .links {
    width: 20%;
  }
}
#welcome {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--black);
}
#welcome header {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
}
#welcome .step_1 {
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  background-color: var(--black);
  transition: 0.5s ease-in-out;
  opacity: 0;
}
#welcome .step_1 img {
  padding-bottom: 10px;
}
#welcome .step_1 small {
  color: var(--white);
  font-size: 20px;
  text-align: center;
}
#welcome .step_1.open {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
#welcome .step_2 {
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: calc(0px + 30%);
  border-radius: 20px;
  border-radius: 5px;
  width: 200px;
  line-height: 40px;
  background-color: var(--brown4);
}
#welcome .step_2 a {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
}

@media (min-width: 768px) {
  #welcome .step_1 {
    width: 60%;
  }
  #welcome .step_2 {
    bottom: calc(0px + 25%);
    cursor: pointer;
  }
  #welcome .step_2:hover {
    background-color: var(--brown-1);
  }
  #welcome .step_2:hover small {
    color: #303030;
  }
}
@media (min-width: 1440px) {
  #welcome .step_1 {
    width: 35%;
  }
  #welcome .step_2 {
    bottom: calc(0px + 30%);
  }
}
#menu {
  position: fixed;
  top: 50px;
  z-index: 5;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  overflow-y: scroll;
  transition: 0.7s ease-in-out;
  visibility: hidden;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
}
#menu span {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 8px;
}
#menu span img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
#menu span small {
  color: var(--brown-1);
}
#menu.cropping img {
  height: auto;
  border-radius: 0px;
  margin-top: 0px;
}
#menu.active {
  display: flex;
  right: 0;
  visibility: visible;
  transition: 0.7s ease-in-out;
  background-color: var(--bg);
}
#menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
#menu ul li {
  list-style: none;
  width: 100%;
  border-top: 1px solid var(--gray);
}
#menu ul li a {
  text-decoration: none;
  line-height: 55px;
  text-align: center;
  color: var(--brown-1);
  text-transform: uppercase;
  font-size: 16px;
}
#menu ul li a:hover {
  color: var(--black_l);
}
#menu .headerMenu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: blueviolet;
}

@media (min-width: 768px) {
  #menu {
    width: 40%;
    top: 0px;
  }
  #menu ul li a {
    line-height: 90px;
  }
}
@media (min-width: 1024px) {
  #menu {
    width: 33%;
  }
}
@media (min-width: 1440px) {
  #menu {
    width: 25%;
  }
}
@media (min-width: 1920px) {
  #menu {
    width: 20%;
  }
}
#checkout {
  position: fixed;
  z-index: 4;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  transition: 0.7s ease-in-out;
  visibility: hidden;
  background-color: var(--white);
  align-items: center;
}
#checkout .messageCard {
  color: var(--white);
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
#checkout .resume {
  position: absolute;
  font-size: 12px;
  color: #f2cf63;
  font-weight: 600;
  z-index: 1;
  top: 120px;
}
#checkout.active {
  display: flex;
  right: 0;
  visibility: visible;
  transition: 0.7s ease-in-out;
  background-color: #010326;
}
#checkout .close_checkout {
  position: absolute;
  right: 20px;
}
#checkout .summary {
  position: relative;
  width: 100%;
  height: 140px;
  background-color: cornflowerblue;
  margin-top: 60px;
  border: 15px solid var(--black_l);
  padding: 4px;
  overflow-y: auto;
}
#checkout .summary .summary_title {
  color: var(--white);
  text-align: center;
}
#checkout .summary .summary_details {
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  padding: 4px;
  width: 100%;
  margin-bottom: 8px;
}
#checkout .summary .summary_details img {
  cursor: pointer;
}
#checkout .summary .copyright {
  position: absolute;
  width: 100%;
  background-color: var(--black_l);
  text-align: right;
  color: var(--white);
  bottom: 0;
  right: 0;
  font-size: 9px;
}
#checkout .machine {
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 270px;
}
#checkout .machine .logo_pay {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 86%;
  height: 35px;
  margin-top: 12px;
  background-color: #f2cf63;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-weight: 600;
}
#checkout .machine .logo_pay span {
  font-weight: 300;
}
#checkout .machine .displayCheckout {
  flex-direction: column;
  padding: 10px;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #172262;
  border: 20px solid var(--black_l);
}
#checkout .machine .displayCheckout .dataDisplay {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 95%;
  height: 100px;
  background-color: cornflowerblue;
}
#checkout .machine .displayCheckout .dataDisplay #insert_the_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#checkout .machine .displayCheckout .dataDisplay #insert_the_card img {
  padding: 2px;
}
#checkout .machine .displayCheckout .dataDisplay p {
  font-size: 16px;
  text-align: center;
  margin: 5px;
}
#checkout .machine .displayCheckout .dataDisplay div {
  flex-direction: row;
  width: 25%;
  justify-content: space-between;
}
#checkout .machine .formData {
  width: 95%;
  height: 175px;
}
#checkout .machine .formData form label {
  font-size: 14px;
  color: var(--bg);
}
#checkout .machine .formData form .credit_card_input {
  line-height: 30px;
  border: none;
  background-color: var(--black_l);
  outline: none;
  color: #f2cf63;
}
#checkout .machine .formData form .date_code {
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}
#checkout .machine .formData form .input_small {
  line-height: 30px;
  width: 99%;
  border: none;
  background-color: var(--black_l);
  outline: none;
  color: #f2cf63;
}
#checkout .btn_insert_card {
  position: absolute;
  bottom: 8px;
  z-index: 5;
  justify-content: center;
  align-items: center;
  width: 95%;
  line-height: 33px;
  background-color: #f2cf63;
  cursor: pointer;
  text-decoration: none;
}
#checkout .btn_insert_card:hover {
  background-color: #f0d891;
}

@media (min-width: 360px) {
  #checkout .machine {
    height: 53vh;
  }
}
@media (min-width: 375px) {
  #checkout .summary {
    height: 188px;
  }
  #checkout .machine {
    height: 48vh;
  }
}
@media (min-width: 768px) {
  #checkout {
    width: 42%;
    top: 0px;
  }
  #checkout ul li a {
    line-height: 90px;
  }
  #checkout .machine {
    height: 48vh;
  }
}
@media (min-width: 1024px) {
  #checkout {
    width: 33%;
  }
}
@media (min-width: 1366px) {
  #checkout {
    width: 21%;
  }
  #checkout .summary {
    height: 241px;
  }
  #checkout .machine {
    height: 54vh;
  }
}
@media (min-width: 1440px) {
  #checkout {
    width: 25%;
  }
  #checkout .summary {
    height: 241px;
  }
  #checkout .machine {
    height: 61vh;
  }
}
@media (min-width: 1920px) {
  #checkout {
    width: 16%;
  }
}
:root {
  --white: #ffffff;
  --black: #260f06;
  --black_l: #3d322b;
  --yellow: #f2bc57;
  --yellow2: #f2d091;
  --orange1: #d99962;
  --brown4: #a65a2e;
  --bg: #f3f3f3;
  --blue: #449cdc;
  --gray: #dedede;
  --gray-1: #949494;
  --brown: #dcd4d2;
  --brown-1: #ce8272;
  --brown-over: #db9c90;
  --brown-2: #b26859;
  --brown-3: #734036;
  --orange: #d98f4e;
  --orange_h: #d88236;
  --roxo: hsl(298, 81%, 30%);
  --green: #6ba317;
  --green-1: #87ce1d;
  --red: #ac2929;
  --red-1: #f34949;
}

#progress {
  position: relative;
  border: 1px solid var(--brown-1);
  width: 288px;
  height: 43px;
}
#progress .btn_progress {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 288px;
  line-height: 40px;
  background: none;
  width: 288px;
  justify-content: center;
  outline: none;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
#progress #overlay {
  position: absolute;
  z-index: 1;
  width: 288px;
  height: 43px;
}
@keyframes progress-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.btn_primary {
  display: flex;
  width: 288px;
  line-height: 40px;
  background-color: var(--black_l);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.btn_primary:hover {
  background-color: var(--brown-1);
}

.btn_process {
  display: flex;
  width: 100px;
  line-height: 40px;
  background-color: var(--yellow);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black_l);
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.btn_process:hover {
  background-color: var(--orange_h);
}

.btn_facebook {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 288px;
  line-height: 40px;
  background-color: var(--black_l);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  margin: 5px;
}
.btn_facebook img {
  position: absolute;
  left: 10px;
  width: 25px;
  height: 25px;
}

.btn_facebook:hover {
  background-color: var(--brown-1);
}

.btn_google {
  position: relative;
  display: flex;
  width: 288px;
  line-height: 40px;
  background-color: var(--black_l);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  margin: 5px;
}
.btn_google img {
  position: absolute;
  left: 10px;
  width: 25px;
  height: 25px;
}

.btn_google:hover {
  background-color: var(--brown-1);
}

.hr_primary {
  background-color: var(--brown-3);
  width: 20%;
  border: none;
  height: 1px;
  margin: 0;
}

@media (min-width: 768px) {
  #auth .hr_primary {
    width: 18%;
  }
}
@media (min-width: 1024px) {
  #auth .hr_primary {
    width: 12%;
  }
}
@media (min-width: 1440px) {
  #auth .hr_primary {
    width: 10%;
  }
}
@media (min-width: 1920px) {
  #auth .hr_primary {
    width: 7%;
  }
}
:root {
  --padding:20px;
  --space: 20px;
}

#success .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#success .container .message {
  width: 100%;
  justify-content: center;
  align-items: center;
}
#success .container .message h1 {
  margin: 0;
  text-align: center;
}
#success .container .message p {
  text-align: center;
}

#index {
  position: relative;
}
#index .overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--black_l);
  opacity: 0.5;
  justify-content: center;
  align-items: center;
}
#index .presentation {
  position: absolute;
  z-index: 5;
  flex-direction: column;
  background: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}
#index .presentation .titleHome {
  color: var(--white);
}
#index .presentation .btn {
  background-color: var(--brown-1);
  line-height: 36px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: var(--white);
  font-size: 18px;
}
#index #backgroundVideo {
  object-fit: cover;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
}
#index .container {
  position: relative;
  background-color: var(--bg);
  align-items: center;
  width: 100%;
  height: calc(100vh - 157px);
}
#index .container .product {
  flex-direction: column;
}
#index .container .product label {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  padding: 4px;
  width: 100%;
  cursor: pointer;
}
#index .container .product label .over {
  position: absolute;
  padding: 4px;
  width: 100%;
  height: 70px;
  background-color: var(--brown-1);
  opacity: 0.1;
  display: none;
}
#index .container .product label picture {
  display: flex;
  align-items: center;
}
#index .container .product label .description {
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  padding: 2px;
  width: 100%;
}
#index .container .product label .description p {
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}
#index .container .product label .description span {
  font-size: 12px;
  font-weight: 400;
}
#index .container .product label .price {
  justify-content: center;
  align-items: center;
  width: 100px;
  background-color: var(--yellow);
}
#index .container .product label .price > span {
  font-size: 16px;
  font-weight: 600;
  color: var(--black_l);
}
#index .container .product label:hover .over {
  display: block;
}
#index .container h1 {
  font-size: 18px;
}
#index .container .list .header_list {
  background-color: var(--black);
}
#index .container .list .header_list > li {
  background-color: var(--black);
  color: var(--white);
  padding: 2px;
  margin: 0;
}
#index .container .list ul {
  margin: 4px;
  padding: 0;
}
#index .container .list ul li {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray);
  list-style: none;
  padding: 2px;
  margin-top: 10px;
}
#index .container .total_price {
  position: absolute;
  font-weight: 600;
  right: 4px;
  bottom: 60px;
}
#index .container .footer_menu {
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#container {
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
}
#container .header_product_list {
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #1C1714;
  width: 100%;
}
#container .header_product_list h1 {
  font-size: 18px;
  color: var(--white);
}
#container .header_product_list .over {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: var(--black_l);
  opacity: 0.4;
}
#container .productList {
  width: 98%;
  height: 100vh;
  background-color: var(--bg);
  height: calc(100% - 192px);
  margin-top: 120px;
}
#container .productList .products {
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}
#container .productList .products .item {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid var(--gray);
  cursor: pointer;
}
#container .productList .products .item div {
  width: 100%;
}
#container .productList .products .item .item_overlay {
  position: absolute;
  background-color: var(--brown-1);
  opacity: 0.1;
  width: 100%;
  height: 100%;
  display: none;
}
#container .productList .products .item:hover .item_overlay {
  display: block;
}
#container .productList .products .description {
  padding: 2px;
  width: 100%;
  height: 70px;
}
#container .productList .products .description p {
  color: var(--brown-1);
  margin: 0;
  padding: 0;
}
#container .productList .products .price {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--black_l);
  width: 60px;
  height: 70px;
  padding: 2px;
}
#container .productList .products .price p {
  margin: 0;
  padding: 0;
}
#container .productList .products .price small {
  margin: 0;
  padding: 0;
}
#container .footer_container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 98%;
  height: 50px;
  background-color: var(--black_l);
  justify-content: center;
}
#container .footer_container .btn_next {
  display: flex;
  width: 160px;
  line-height: 40px;
  background-color: var(--brown-1);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black_l);
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
#container .footer_container .btn_next:hover {
  background-color: var(--brown-over);
}
#container .footer_container .btn_prev {
  display: flex;
  width: 112px;
  line-height: 40px;
  background-color: var(--gray);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black_l);
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  #container .header_product_list h1 {
    font-size: 22px;
  }
  #container .productList .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #container .productList .products .item {
    width: 49%;
    margin: 3px;
  }
  #container .footer_container {
    width: 98%;
  }
}
@media (min-width: 1024px) {
  #container .productList .products .item {
    width: 32%;
    margin: 6px;
  }
}
@media (min-width: 1366px) {
  #container .productList .products .item {
    width: 24%;
  }
}
@media (min-width: 1440px) {
  #container .productList {
    width: 75%;
  }
  #container .productList .products .item {
    width: 32%;
    margin: 7px;
  }
  #container .footer_container {
    width: 75%;
  }
}
@media (min-width: 1920px) {
  #container .productList .products .item {
    margin: 9px;
  }
}
#container {
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
}
#container .header_order_list {
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/background/pao-caseiro-em-sao-paulo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}
#container .header_order_list h1 {
  position: absolute;
  z-index: 2;
  font-size: 18px;
  color: var(--white);
}
#container .header_order_list .over {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: var(--black_l);
  opacity: 0.4;
}
#container .order_list {
  width: 98%;
  height: calc(100% - 250px);
  background-color: var(--bg);
  padding-top: 10px;
  overflow-y: auto;
}
#container .order_list .orders {
  flex-direction: column;
  width: 100%;
}
#container .order_list .orders .item {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  border-top: 1px solid var(--gray);
  cursor: pointer;
}
#container .order_list .orders .item .item_overlay {
  position: absolute;
  background-color: var(--brown-1);
  opacity: 0.1;
  width: 100%;
  height: 100%;
  display: none;
}
#container .order_list .orders .item .description {
  justify-content: center;
  padding: 2px;
  width: 100%;
  height: 70px;
}
#container .order_list .orders .item .description p {
  color: var(--brown-1);
  margin: 0;
  padding: 0;
}
#container .order_list .orders .item .price {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--black_l);
  width: 60px;
  height: 70px;
  padding: 2px;
}
#container .order_list .orders .item .price p {
  margin: 0;
  padding: 0;
}
#container .order_list .orders .item .price small {
  margin: 0;
  padding: 0;
}
#container .order_list .orders .item:hover .item_overlay {
  display: block;
}
#container .footer_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 98%;
  height: 70px;
  background-color: var(--black_l);
  justify-content: center;
  align-items: center;
}
#container .footer_container small {
  color: var(--white);
  font-size: 16px;
  margin-top: 8px;
}
#container .footer_container .btn_next {
  display: flex;
  width: 160px;
  line-height: 40px;
  background-color: var(--brown-1);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black_l);
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
#container .footer_container .btn_next:hover {
  background-color: var(--brown-over);
}
#container .footer_container .btn_prev {
  display: flex;
  width: 112px;
  line-height: 40px;
  background-color: var(--gray);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black_l);
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  #container .header_order_list h1 {
    font-size: 26px;
  }
  #container .footer_container {
    width: 98%;
  }
}
@media (min-width: 1440px) {
  #container .header_order_list h1 {
    font-size: 26px;
  }
  #container .order_list {
    width: 75%;
  }
  #container .footer_container {
    width: 75%;
  }
}

/*# sourceMappingURL=main.css.map */
