* {
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
}

body,
div,
section,
main,
article,
header,
footer,
form,
a,
label {
  display: flex;
  flex-direction: column;
}

#login {
  position: relative;
  display: flex;
  background-color: var(--bg);
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#login > header {
  display: none;
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 53%;
  top: 0;
}
#login .logo {
  position: relative;
  background-color: var(--bg);
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 5px;
  width: 290px;
  border-radius: 14px;
  height: 30%;
}
#login .links {
  position: relative;
  top: 20px;
  width: 288px;
  flex-direction: row;
  justify-content: space-around;
}
#login .links a {
  text-decoration: none;
  color: var(--brown-3);
}
#login .links a:hover {
  color: var(--brown-1);
}

@media (min-width: 768px) {
  #login header {
    display: flex;
  }
}
#auth {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#auth header {
  position: absolute;
  top: 0;
  background-color: var(--brown);
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 35%;
  padding-bottom: 25px;
}
#auth form {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 35%;
  top: 60px;
  padding-bottom: 10px;
}
#auth form label {
  position: relative;
  border: 1px solid var(--gray);
  justify-content: center;
  margin-bottom: 8px;
}
#auth form label input {
  width: 288px;
  height: 50px;
  border: none;
  padding-left: 40px;
}
#auth form label img {
  position: absolute;
  top: 13px;
  left: 8px;
}
#auth .links {
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  width: 90%;
  top: 45px;
}
#auth .links a {
  text-decoration: none;
  color: var(--brown-3);
}
#auth .links a:hover {
  color: var(--brown-1);
}

@media (min-width: 768px) {
  #auth header {
    height: 40%;
  }
  #auth form {
    width: 50%;
    background-color: var(--gray);
    box-shadow: 0 0 1em var(--gray);
  }
  #auth form label input {
    width: 288px;
  }
  #auth .links {
    width: 50%;
    top: 65px;
  }
}
@media (min-width: 1024px) {
  #auth form {
    width: 40%;
  }
  #auth .links {
    width: 35%;
  }
}
@media (min-width: 1440px) {
  #auth form {
    width: 30%;
  }
  #auth .links {
    width: 30%;
  }
}
@media (min-width: 1920px) {
  #auth header {
    padding-bottom: 30px;
  }
  #auth form {
    width: 20%;
  }
  #auth .links {
    width: 20%;
  }
}
#new_account {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#new_account header {
  position: absolute;
  top: 0;
  background-color: var(--brown);
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 35%;
  padding-bottom: 25px;
}
#new_account form {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 58%;
  top: 60px;
  padding-bottom: 10px;
}
#new_account form label {
  position: relative;
  border: 1px solid var(--gray);
  justify-content: center;
  margin-bottom: 8px;
}
#new_account form label input {
  width: 288px;
  height: 50px;
  border: none;
  padding-left: 40px;
}
#new_account form label img {
  position: absolute;
  top: 13px;
  left: 8px;
}
#new_account form .avatar {
  align-items: center;
  cursor: pointer;
}
#new_account .links {
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  width: 90%;
  top: 45px;
}
#new_account .links a {
  text-decoration: none;
  color: var(--brown-3);
}
#new_account .links a:hover {
  color: var(--brown-1);
}

@media (min-width: 768px) {
  #new_account header {
    height: 40%;
  }
  #new_account form {
    width: 50%;
    height: 40%;
    background-color: var(--gray);
    box-shadow: 0 0 1em var(--gray);
  }
  #new_account form label input {
    width: 288px;
  }
  #new_account .links {
    width: 50%;
    top: 65px;
  }
}
@media (min-width: 1024px) {
  #new_account form {
    width: 40%;
  }
  #new_account .links {
    width: 35%;
  }
}
@media (min-width: 1440px) {
  #new_account form {
    width: 30%;
  }
  #new_account .links {
    width: 30%;
  }
}
@media (min-width: 1920px) {
  #new_account header {
    padding-bottom: 30px;
  }
  #new_account form {
    width: 20%;
  }
  #new_account .links {
    width: 20%;
  }
}
#welcome {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#welcome header {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
}
#welcome .step_1 {
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  background-color: var(--brown-3);
  transition: 0.5s ease-in-out;
  opacity: 0;
}
#welcome .step_1 img {
  padding-bottom: 10px;
}
#welcome .step_1 small {
  color: var(--white);
  font-size: 16px;
  text-align: center;
}
#welcome .step_1.open {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
#welcome .step_2 {
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: calc(0px + 30%);
  border-radius: 20px;
  width: 90%;
  line-height: 40px;
  background-color: var(--brown-3);
}
#welcome .step_2 small {
  color: var(--white);
  font-size: 16px;
}

@media (min-width: 768px) {
  #welcome .step_1 {
    width: 60%;
  }
  #welcome .step_2 {
    bottom: calc(0px + 25%);
    width: 60%;
    cursor: pointer;
  }
  #welcome .step_2:hover {
    background-color: #5ee45e;
  }
  #welcome .step_2:hover small {
    color: #303030;
  }
}
@media (min-width: 1440px) {
  #welcome .step_1 {
    width: 35%;
  }
  #welcome .step_2 {
    bottom: calc(0px + 30%);
    width: 35%;
  }
}
#menu {
  align-items: center;
}
#menu .header_menu {
  flex-direction: column;
  width: 100%;
  background-color: var(--black);
}
#menu .header_menu .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 107px;
}
#menu .header_menu .container .logo {
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
  padding: 5px;
}
#menu .header_menu .container .avatar {
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
}
#menu .header_menu .container .avatar small {
  font-size: 12px;
  color: var(--bg);
}
#menu .header_menu .container .avatar span {
  font-size: 16px;
  color: var(--bg);
}
#menu .header_menu .container .menu {
  position: relative;
  width: 32%;
  height: 100%;
}
#menu .header_menu .container .menu img {
  position: absolute;
  top: 8px;
  right: 8px;
}
#menu .header_menu .menu_proccess {
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--gray);
  width: 100%;
}
#menu .header_menu .menu_proccess .cart {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  left: 1%;
  z-index: 1;
}
#menu .header_menu .menu_proccess .cart .qtda_products {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 12;
  width: 20px;
  height: 20px;
  right: 8px;
  top: 10px;
  border-radius: 50%;
  background-color: var(--orange);
  color: var(--white);
}
#menu .header_menu .menu_proccess .cart .amount {
  display: flex;
  position: absolute;
  bottom: 0;
  font-size: 12px;
}
#menu .header_menu .menu_proccess .proccess_1 {
  margin: 0;
  border: none;
  height: 3px;
  background-color: var(--orange);
  width: 35%;
}
#menu .header_menu .menu_proccess .bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--black);
}
#menu .products {
  position: relative;
  background-color: var(--bg);
  width: 100%;
  height: calc(100vh - 157px);
}
#menu .products .product {
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--space);
  width: 100%;
}
#menu .products .product picture {
  display: flex;
  align-items: center;
}
#menu .products .product .description {
  justify-content: center;
  background-color: var(--gray);
  padding: 2px;
  width: 100%;
}
#menu .products .product .description p {
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}
#menu .products .product .description span {
  font-size: 12px;
  font-weight: 400;
}
#menu .products .product .price {
  justify-content: center;
  align-items: center;
  width: 100px;
  background-color: var(--yellow);
}
#menu .products .product .price > span {
  font-size: 20px;
  font-weight: 600;
  color: var(--black_l);
}
#menu .products .footer_menu {
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: 768px) {
  #menu .header_menu .menu_proccess {
    margin: 0 auto;
  }
  #menu .header_menu .menu_proccess .proccess_1 {
    width: 30%;
  }
  #menu .header_menu .menu_proccess .cart {
    left: 13%;
  }
  #menu .products {
    width: 75%;
  }
  #menu .products .product {
    height: 80px;
  }
}
@media (min-width: 1024px) {
  #menu .header_menu .menu_proccess {
    margin: 0 auto;
  }
  #menu .header_menu .menu_proccess .proccess_1 {
    width: 32%;
  }
}
@media (min-width: 1366px) {
  #menu .header_menu .menu_proccess {
    margin: 0 auto;
  }
  #menu .header_menu .menu_proccess .cart {
    left: 14%;
  }
  #menu .products {
    width: 72%;
  }
}
@media (min-width: 1920px) {
  #menu .header_menu .menu_proccess .proccess_1 {
    width: 33%;
  }
}
:root {
  --white:#ffffff;
  --black:#260F06;
  --black_l:#3D322B;
  --yellow:#F2BC57;
  --yellow2:#F2D091;
  --orange1:#D99962;
  --brown4:#A65A2E;
  --bg: #f3f3f3;
  --gray:#DEDEDE;
  --brown: #DCD4D2;
  --brown-1: #CE8272;
  --brown-2: #B26859;
  --brown-3: #734036;
  --orange:#D98F4E;
  --orange_h:#d88236;
}

.btn_primary {
  display: flex;
  width: 288px;
  line-height: 40px;
  background-color: var(--brown-3);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.btn_process {
  display: flex;
  width: 100px;
  line-height: 40px;
  background-color: var(--yellow);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black_l);
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.btn_process:hover {
  background-color: var(--orange_h);
}

.btn_primary:hover {
  background-color: var(--brown-1);
}

.btn_facebook {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 288px;
  line-height: 40px;
  background-color: var(--brown-3);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  margin: 5px;
}
.btn_facebook img {
  position: absolute;
  left: 10px;
  width: 25px;
  height: 25px;
}

.btn_facebook:hover {
  background-color: var(--brown-1);
}

.btn_google {
  position: relative;
  display: flex;
  width: 288px;
  line-height: 40px;
  background-color: var(--brown-3);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  margin: 5px;
}
.btn_google img {
  position: absolute;
  left: 10px;
  width: 25px;
  height: 25px;
}

.btn_google:hover {
  background-color: var(--brown-1);
}

.hr_primary {
  background-color: var(--brown-3);
  width: 20%;
  border: none;
  height: 1px;
  margin: 0;
}

@media (min-width: 768px) {
  #auth .hr_primary {
    width: 18%;
  }
}
@media (min-width: 1024px) {
  #auth .hr_primary {
    width: 12%;
  }
}
@media (min-width: 1440px) {
  #auth .hr_primary {
    width: 10%;
  }
}
@media (min-width: 1920px) {
  #auth .hr_primary {
    width: 7%;
  }
}
:root {
  --padding:20px;
  --space: 20px;
}

/*# sourceMappingURL=main.css.map */
