#auth{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    header{
        position: absolute;
        top: 0;       
        background-color: var(--brown);
        background-image: url('/assets/images/background/paes-caseiros-brasil.jpg');
        background-repeat: no-repeat;
        justify-content: flex-end;
        background-size: cover;
        align-items: center;
        width: 100%;
        height: 35%;
        padding-bottom: 25px;    
        padding: 10px;
        box-shadow: 5px 10px 18px #6e6c6c;
             
    }  
    
    form{
        position: relative;
        z-index: 1;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        width: 99%;
        height: 50%;
        top: 60px;
        padding-bottom: 10px;
        label{
            position: relative;
            border: 1px solid var(--gray);
            justify-content: center;
            margin-bottom: 8px; 
                      
            input{
            width: 288px;
            height: 50px;
            border: none; 
            padding-left: 40px;           
            
            }  
            
            img{
                position: absolute;
                top: 13px;
                left: 8px;               
            }

        }       
    }

    .links{
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
        width: 90%;
        top: 45px;
        a{
            text-decoration: none;
            color: var(--brown-3);
        }

        a:hover{
            color: var(--brown-1);
        }
    }
}

@media(min-width: 768px){
    #auth{
        header{
            height: 40%;
        }

        form{
            width: 50%;
            background-color: var(--gray);
            box-shadow: 0 0 1em var(--gray);

            label{
                input{
                    width: 288px;
                }
            }
        }
        .links{
            width: 50%;
            top: 65px;
        }
    }
}

@media(min-width: 1024px){
    #auth{

        form{
            width: 30%;
        }
        .links{
            width: 35%;
        }
    }
}

@media(min-width: 1440px){
    #auth{

        form{
            width: 25%;
        }
        .links{
            width: 30%;
        }
    }
}

@media(min-width: 1920px){
    #auth{

        header{
            padding-bottom: 30px;    
        }

        form{
            width: 20%;
        }
        .links{
            width: 20%;
        }
    }
}