:root {
  --white: #ffffff;
  --black: #260f06;
  --black_l: #3d322b;
  --yellow: #f2bc57;
  --yellow2: #f2d091;
  --orange1: #d99962;
  --brown4: #a65a2e;
  --bg: #f3f3f3;
  --blue: #449cdc;
  --gray: #dedede;
  --gray-1: #949494;
  --brown: #dcd4d2;
  --brown-1: #ce8272;
  --brown-over: #db9c90;
  --brown-2: #b26859;
  --brown-3: #734036;
  --orange: #d98f4e;
  --orange_h: #d88236;
  --roxo: hsl(298, 81%, 30%);
  --green: #6ba317;
  --green-1: #87ce1d;
  --red: #ac2929;
  --red-1: #f34949;
}
