:root{
   --white:#ffffff;
   --black:#260F06;
   --black_l:#3D322B;
   --yellow:#F2BC57;
   --yellow2:#F2D091;
   --orange1:#D99962;
   --brown4:#A65A2E;
   --bg: #f3f3f3; 
   --gray:#DEDEDE;
   --brown: #DCD4D2;
   --brown-1: #CE8272;
   --brown-2: #B26859;
   --brown-3: #734036;
   --orange:#D98F4E;
   --orange_h:#d88236;
}
