.btn_primary{
    display: flex;
    width: 288px;
    line-height: 40px;
    background-color: var(--brown-3);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    margin: 5px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;   
}

.btn_process{
    display: flex;
    width: 100px;
    line-height: 40px;
    background-color: var(--yellow);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black_l);
    margin: 5px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;   
}

.btn_process:hover{
    background-color: var(--orange_h); 
}

.btn_primary:hover{
    background-color: var(--brown-1); 
}

.btn_facebook{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 288px;
    line-height: 40px;
    background-color: var(--brown-3);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    margin: 5px;

    img{
        position: absolute;
        left: 10px;
        width: 25px;
        height: 25px;
    }
}

.btn_facebook:hover{
    background-color: var(--brown-1); 
}

.btn_google{
    position: relative;
    display: flex;
    width: 288px;
    line-height: 40px;
    background-color: var(--brown-3);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    margin: 5px;

    img{
        position: absolute;
        left: 10px;
        width: 25px;
        height: 25px;
    }
}

.btn_google:hover{
    background-color: var(--brown-1); 
}

.hr_primary{
    background-color: var(--brown-3);
    width: 20%;
    border: none;
    height: 1px;
    margin: 0;
}

@media(min-width:768px){
#auth{
  
    .hr_primary{
       width: 18%;
    }

}
}

@media(min-width:1024px){
#auth{

    .hr_primary{
       width: 12%;
    }

    
}
}

@media(min-width:1440px){
#auth{

    .hr_primary{
       width: 10%;
    }

    
}
}

@media(min-width:1920px){
#auth{
    
    .hr_primary{
       width: 7%;
    }
}
}