
* {
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
 
}

body,
div,
section,
main,
article,
header,
footer,
form,
a,
label {
  display: flex;
  flex-direction: column;
}
